# Variables & Data Types

### Create variables of types int, float, string, bool, list, tuple, set, and dict. Print their type using type().

In [29]:
intA = 45
floatB = 45.67
str = "Meghana"
isFake = True
lst1 = [34, 55, 78]
tple1 = (23, 45, 23)
set_nums = {45, 43, 43, 45}
dict = {"Name": "Meghana", "age": 20}

In [37]:
print(type(intA))
print(type(floatB))
print(type(str))
print(type(isFake))
print(type(lst1))
print(type(tple1))
print(type(set_nums))
print(type(dict))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

### Convert a string "123.45" into an integer and float. Handle the error if conversion fails.

In [63]:
try:
    str = "123.45"
    n = int(float(str))
    print(n)
    num = int(str)
    print(num)
except Exception as e:
    print("Invalid..")
try:
    str = "123.45"
    num2 = float(str)
    print(num2)
except Exception as e:
    print("Invalid..")

123
Invalid..
123.45

### Write a Python program to swap two variables without using a temporary variable.

In [1]:
a = 10
b = 20
a, b = b, a

In [3]:
print(a,b)

20 10

Given a list nums = [1, 2, 2, 3, 4, 4, 5], remove duplicates and keep only unique values.

In [5]:
nums = [1, 2, 2, 3, 4, 4, 5]
unique_nums = set(nums)

In [6]:
print(unique_nums)

{1, 2, 3, 4, 5}

In [7]:
s = "machinelearning"
dict = {}
for i in s:
    if(i not in dict):
        dict[i] = 1
    else:
        dict[i] += 1

print(dict)

{'m': 1, 'a': 2, 'c': 1, 'h': 1, 'i': 2, 'n': 3, 'e': 2, 'l': 1, 'r': 1, 'g': 1}